html {
  background-color: #D88181;
  display: flex;
}

.title {
  text-align: center;
  color: #FFEFEF;
}

.banner-img {
  width: 1343px;
  height: 281px;
  background-color: #483636;
  -ms-flex-align: center;
}